/* import font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style  */

body{
    font-family: 'Poppins', sans-serif;
}
.top-container{
    width: 100%;
    height: 677px;
  background-color: #2D25A0;
  display: flex;


}
/* motion  */
.top-container:hover .top-player{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
/* style top-container */

/* top-left flex  */
.top-left{
    display: flex;
    flex-direction:column;
    margin-top: 207px;
    margin-bottom: 240px;
    margin-left: 156px;
}
/* Conmebol Copa America 2021 style  */
.headline{
 
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    height: 230px;
    margin-top: -30px;
}
/* style watch live  */
.live{
   
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -20px;
    margin-left: -1px;   
}

/* player style  */
.top-player{
    width: 556px;
    height: 438px;
    margin-top: 145px;
    margin-left: 160px;
   
}
/* blog style  */
.blog{
   
    display: grid;
    grid-template-columns: repeat(3,360px);    
    grid-row-gap: 25px;
    margin-top: 50px;
    margin-left: 230px;
    margin-bottom: 150px;
    
    
}
/* info style  */
.player-info{
    width: 330px;
    height: 474px;
    border: 3px solid rgba(240, 237, 237, 0.418);
    margin-right: 40px;
    box-shadow:-5px -5px 10px 10px  rgba(202, 201, 201, 0.377);   
}
/* pic relocate */
.thumbnail{
    margin-top: 10px;
    margin-left: 15px;
}
/* heading style  */
h2{
    margin-top: -1px;
    margin-left: 15px;
}
/* details style  */
 
p{
    margin-top: -15px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: small;
  
} 
 /* down-container style  */
 .down-container{
    display: flex;

}
.down-left{
    margin-top: 6%;
    margin-left: 245px;
}
/* h1 style  */
.highlights{
 
    font-size: 48px;
    line-height: 60px;
    width: 466px;
    height: 120px;
    margin-top: -40px;
}
 .copa-details{
    font-size: 16px;
    line-height: 18px;
    width: 380px;
    height: 90px;
    margin-top:60px;
    margin-left: -1px;

 }
/* watch link style  */
.live-2{
   
    width: 173px;
    height: 44px;
    background-color:#E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    margin-left: -1px;
    
}

/* new-container style */
.new-container{
    display: flex;
    margin-bottom: 200px;

}
.new-section-right{
    margin-top: 6%;
    
}
.live-3{
   
    width: 173px;
    height: 44px;
    background-color:#E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
    margin-left: -1px;
    
}
.new-section-left{
    font-size: 48px;
    line-height: 60px;
    width: 466px;
    height: 120px;
    margin-top:15%;
    margin-left: 245px;
}
/* footer style  */
.footer-part{
    width: 484px;
    height: 213px;
   
    margin-left: 33%;
}
/* logo style  */
.logo{
    margin-bottom: 30px;
}

.logo-size{
    display: grid;
    grid-template-columns:repeat(4,50px) ;
    margin-left: 25%;

    
}

#logo-1
{
   width: 32px;
   height: 32px;
    border:1px solid rgba(155, 152, 152, 0.054);
    background-color: rgba(177, 173, 173, 0.36);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo-2
{
   width: 32px;
   height: 32px;
   border:1px solid rgba(155, 152, 152, 0.054);
   background-color: rgba(177, 173, 173, 0.36);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo-3
{
   width: 32px;
   height: 32px;
   border:1px solid rgba(155, 152, 152, 0.054);
    background-color: rgba(177, 173, 173, 0.36);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo-4
{
   width: 32px;
   height: 32px;
   border:1px solid rgba(155, 152, 152, 0.054);
   background-color: rgba(177, 173, 173, 0.36);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* copyright-style */
.copyright{

    text-align: center;

}
 /* media-queries */
  /* mobile devices  */
   @media only  screen and  (max-width: 688px){
   /* {    top container mobile style  */
       .top-container{
           width: 100%;
           display: grid;
           grid-template-columns: repeat(1,1fr);
       }
       .headline{
           width: 280px;
           height: 140px;
           margin-left: -90px;
           margin-top: -150px;
           font-size: 36px;
           line-height: 50px;
           
       }
       .live{
          margin-top: 2px;
           margin-left: -90px;
       }
       .top-player{
           margin-top: -200px;
           margin-left: 55px;
       }
       .top-player img{
           width: 330px;
           height: 260px;
         
       }
       /* top container style ends */
       /* blog mobile style  */
       .down-container{
        width: 100%;
         display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
       .blog{
           width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
    .highlights{
            width: 330px;
           height: 300px;
           margin-left: -244px;
           margin-top: -120px;
           font-size: 36px;
           line-height: 50px;
    }
    .copa-details{
        font-size: 16px;
        line-height: 18px;
        width: 340px;
        word-spacing: normal;
        height: 90px;
        margin-top:-170px;
        margin-left: -244px;
    
     }
     .live-2{
   
        margin-top: 60px;
        margin-left:-244px;

        
    }
    
    .match img{
        width: 320px;
        height: 248px;
        margin-top: 10px;
    }
    .new-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    
    .new-section-left{
        margin-top: 160px;
        margin-bottom: -80px;
    }
    .live-3{
   
        margin-top:-220px;
        margin-left:-244px;

        
    }
    /* footer mobile style  */

    .footer-part{
        width: 236px;
        height: 164px;
        margin-top: -100px;
   }
    .logo img {
        width: 226px;
        height: 80px;
        margin-left: -100px;
        margin-top: -50px;
    }
    .logo-size{
        margin-left: -70px;
        margin-top: -30px;
    }
    .copyright{
        margin-left: -180px;
    }

   }
   