/* import font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common style  */
body{
    font-family: 'Poppins', sans-serif;
}
/* Conmebol Copa America 2021 style  */
.headline{
 
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
    width: 485px;
    height: 230px;
    margin-top: -30px;
}
/* style watch live  */
p{
   
    width: 168px;
    height: 44px;
    background-color:#E02C6D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -20px;
    
}
/* style top-container */
.top-container{
    width: 100%;
    height: 677px;
  background-color: #2D25A0;
  display: flex;

}
/* top-left flex  */
.top-left{
    display: flex;
    flex-direction:column;
    margin-top: 207px;
    margin-bottom: 240px;
    margin-left: 156px;
}
/* player style  */
.top-player{
    width: 556px;
    height: 438px;
    margin-top: 145px;
    margin-left: 160px;
   
}
